<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div class="space_description">
  <p class="space_name"><%= @space.name %></p>
  <p class="space_description"><%=@space.description %></p>
  <p class="space_price">£<%= "%.2f" % @space.price %></p>
  <p class="space_available_from"><%= @space.available_from.strftime("%d/%m/%Y") %> -</p>
  <p class="space_available_to"><%= @space.available_to.strftime("%d/%m/%Y") %></p>
</div>

<div id="calendar">
  
</div>

<button id="request_date">Request Date</button>

<script src="/js/calendar.js"></script>
