<style>
	h1 {
		text-align: center;
	}

	a {
		color: #000;
		cursor: pointer;
		text-decoration: underline;
	}

	a:hover {
		cursor: pointer;
		text-decoration: none;
	}

	#spaces {
		text-align: center;
	}

	#spaces p {
		margin: 0;
		display: inline;
	}

	#spaces li {
		margin: 5px 0;
		list-style: none;
	}
</style>

<h1>Book a Space</h1>

<form id="form1" action="/requests" method="post">
	<ul id="spaces">
		<% @spaces.each do |space| %>
		<object>
			<a href="javascript:;" onclick="document.getElementById('form1').submit();">
				<li>
					<input type="hidden" name="space_id" value="<%= space.id %>"/>
					<input type="hidden" name="date" value="<%= space.available_from %>"/>
					<p class="space_name"><%= space.name %></p>
					<p class="space_description"><%= space.description %></p>
					<p class="space_price">£<%= "%.2f" % space.price %></p>
					<p class="space_available_from"><%= space.available_from.strftime("%d/%m/%Y") %> -</p>
					<p class="space_available_to"><%= space.available_to.strftime("%d/%m/%Y") %></p>
				</li>
			</a>
		</object>
		<% end %>
	</ul>
</form>
