<h1>Request for <%= @space_request.space.name %></h1>

<p>From: <%= @space_request.user.email %></p>
<p><%= @space_request.date.strftime("%d/%m/%Y") %></p>
<p>No. of Spaces booked: <%= @spaces_booked %></p>

<form action="/requests/confirm" method="post">
  <button type="submit" name="request_id" value="<%= @space_request.id %>">Confirm request from <%= @space_request.user.email %></button>
</form>

<form action="/requests/delete" method="post">
  <input type='hidden' name='_method' value='delete' />
  <button type="submit" name="request_id" value="<%= @space_request.id %>">Deny request from <%= @space_request.user.email %></button>
</form>
