<h1>Requests</h1>

<div id='requests_container'>
  <div id='requests_made'>
    <h2>Requests I've made</h2>

    <ul>
      <% @requests_made.each do |req| %>
      	<a href="/spaces/<%= req.space.id %>">
      		<li>
      			<p><%= req.space.name %></p>
      			<p><%= req.confirm_message %></p>
      			<p><%= req.date.strftime("%d/%m/%Y") %></p>
      		</li>
      	</a>
    	<% end %>
    </ul>
  </div>

  <div id='requests_received'>
    <h2>Requests I've received</h2>

    <ul>
      <% @requests_received.each do |req| %>
      	<a href="/requests/<%= req.id %>">
      		<li>
      			<p><%= req.space.name %></p>
      			<p><%= req.confirm_message %></p>
      			<p><%= req.date.strftime("%d/%m/%Y") %></p>
      		</li>
      	</a>
    	<% end %>
    </ul>
  </div>
</div>
